{% extends "layout.html" %}
{% block title %} Editar ticket {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parpadea.css') }}">
{% endblock %}

{% block content %}

    {% include 'components/navbar.html'%}

    <div class="row my-3">
        <div class="col text-center">
            <h4>Editar ticket</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-7 border-end">
            {% include 'components/ticket.html' %}
        </div>
        <div class="col-5">
            {% include 'components/edita-ticket.html' %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('input[name=text], textarea').css({resize: "none"})
        });
    </script>
{% endblock %}